# Step 1: import csv data

In [1]:
import csv

In [2]:
from pathlib import Path

#### After some errors trying to use local path I decided to use root path instead

In [17]:
budget_data = Path("/Users/laurenkrohn/Documents/UPENN-VIRT-FIN-PT-01-2022-U-LOL/02-Homework/02-Python/Instructions/PyBank/Resources/budget_data.csv")

#### To open and print the csv data:

In [20]:
with open(budget_data) as financial_data:
    imported_data = csv.reader(financial_data)
    # print(imported_data)
    for row in imported_data:
        print(row)

['Date', 'Profit/Losses']
['Jan-2010', '867884']
['Feb-2010', '984655']
['Mar-2010', '322013']
['Apr-2010', '-69417']
['May-2010', '310503']
['Jun-2010', '522857']
['Jul-2010', '1033096']
['Aug-2010', '604885']
['Sep-2010', '-216386']
['Oct-2010', '477532']
['Nov-2010', '893810']
['Dec-2010', '-80353']
['Jan-2011', '779806']
['Feb-2011', '-335203']
['Mar-2011', '697845']
['Apr-2011', '793163']
['May-2011', '485070']
['Jun-2011', '584122']
['Jul-2011', '62729']
['Aug-2011', '668179']
['Sep-2011', '899906']
['Oct-2011', '834719']
['Nov-2011', '132003']
['Dec-2011', '309978']
['Jan-2012', '-755566']
['Feb-2012', '1170593']
['Mar-2012', '252788']
['Apr-2012', '1151518']
['May-2012', '817256']
['Jun-2012', '570757']
['Jul-2012', '506702']
['Aug-2012', '-1022534']
['Sep-2012', '475062']
['Oct-2012', '779976']
['Nov-2012', '144175']
['Dec-2012', '542494']
['Jan-2013', '359333']
['Feb-2013', '321469']
['Mar-2013', '67780']
['Apr-2013', '471435']
['May-2013', '565603']
['Jun-2013', '872480']
['Jul-2013', '789480']
['Aug-2013', '999942']
['Sep-2013', '-1196225']
['Oct-2013', '268997']
['Nov-2013', '-687986']
['Dec-2013', '1150461']
['Jan-2014', '682458']
['Feb-2014', '617856']
['Mar-2014', '824098']
['Apr-2014', '581943']
['May-2014', '132864']
['Jun-2014', '448062']
['Jul-2014', '689161']
['Aug-2014', '800701']
['Sep-2014', '1166643']
['Oct-2014', '947333']
['Nov-2014', '578668']
['Dec-2014', '988505']
['Jan-2015', '1139715']
['Feb-2015', '1029471']
['Mar-2015', '687533']
['Apr-2015', '-524626']
['May-2015', '158620']
['Jun-2015', '87795']
['Jul-2015', '423389']
['Aug-2015', '840723']
['Sep-2015', '568529']
['Oct-2015', '332067']
['Nov-2015', '989499']
['Dec-2015', '778237']
['Jan-2016', '650000']
['Feb-2016', '-1100387']
['Mar-2016', '-174946']
['Apr-2016', '757143']
['May-2016', '445709']
['Jun-2016', '712961']
['Jul-2016', '-1163797']
['Aug-2016', '569899']
['Sep-2016', '768450']
['Oct-2016', '102685']
['Nov-2016', '795914']
['Dec-2016', '60988']
['Jan-2017', '138230']
['Feb-2017', '671099']

# Step 2 - Convert this csv data to something I can work with

#### First idea is to make it a dictionary. I copied the data and put it in a dictionary, but to fix the formatting I had to use command + clicking all the lines to highlight the same position in all the rows to (1) delete out all the front brackets, change the interior comma to a colon, delete out all the back brackets, add a comma after each line. E.g. I changed the entry ['Jan-2010', '867884'] in the imported data to 'Jan-2010': '867884', within my dictionary.

#### The keys look fine as strings but after I click out of the command + click for all rows I realize I want to change all the values to integers. I'm sick of the command clicking right now though so I delay that.

In [1]:
budget_dict = {
    'Jan-2010': '867884',
    'Feb-2010': '984655',
    'Mar-2010': '322013',
    'Apr-2010': '-69417',
    'May-2010': '310503',
    'Jun-2010': '522857',
    'Jul-2010': '1033096',
    'Aug-2010': '604885',
    'Sep-2010': '-216386',
    'Oct-2010': '477532',
    'Nov-2010': '893810',
    'Dec-2010': '-80353',
    'Jan-2011': '779806',
    'Feb-2011': '-335203',
    'Mar-2011': '697845',
    'Apr-2011': '793163',
    'May-2011': '485070',
    'Jun-2011': '584122',
    'Jul-2011': '62729',
    'Aug-2011': '668179',
    'Sep-2011': '899906',
    'Oct-2011': '834719',
    'Nov-2011': '132003',
    'Dec-2011': '309978',
    'Jan-2012': '-755566',
    'Feb-2012': '1170593',
    'Mar-2012': '252788',
    'Apr-2012': '1151518',
    'May-2012': '817256',
    'Jun-2012': '570757',
    'Jul-2012': '506702',
    'Aug-2012': '-1022534',
    'Sep-2012': '475062',
    'Oct-2012': '779976',
    'Nov-2012': '144175',
    'Dec-2012': '542494',
    'Jan-2013': '359333',
    'Feb-2013': '321469',
    'Mar-2013': '67780',
    'Apr-2013': '471435',
    'May-2013': '565603',
    'Jun-2013': '872480',
    'Jul-2013': '789480',
    'Aug-2013': '999942',
    'Sep-2013': '-1196225',
    'Oct-2013': '268997',
    'Nov-2013': '-687986',
    'Dec-2013': '1150461',
    'Jan-2014': '682458',
    'Feb-2014': '617856',
    'Mar-2014': '824098',
    'Apr-2014': '581943',
    'May-2014': '132864',
    'Jun-2014': '448062',
    'Jul-2014': '689161',
    'Aug-2014': '800701',
    'Sep-2014': '1166643',
    'Oct-2014': '947333',
    'Nov-2014': '578668',
    'Dec-2014': '988505',
    'Jan-2015': '1139715',
    'Feb-2015': '1029471',
    'Mar-2015': '687533',
    'Apr-2015': '-524626',
    'May-2015': '158620',
    'Jun-2015': '87795',
    'Jul-2015': '423389',
    'Aug-2015': '840723',
    'Sep-2015': '568529',
    'Oct-2015': '332067',
    'Nov-2015': '989499',
    'Dec-2015': '778237',
    'Jan-2016': '650000',
    'Feb-2016': '-1100387',
    'Mar-2016': '-174946',
    'Apr-2016': '757143',
    'May-2016': '445709',
    'Jun-2016': '712961',
    'Jul-2016': '-1163797',
    'Aug-2016': '569899',
    'Sep-2016': '768450',
    'Oct-2016': '102685',
    'Nov-2016': '795914',
    'Dec-2016': '60988',
    'Jan-2017': '138230',
    'Feb-2017': '671099'
}

# Step 3 - Find the total months included in the dataset

#### I have seen how to count all the keys, but I'm wondering if the months are all unique or if there are any duplicates. If there are duplicate months in this dictionary then I can't rely on just counting the number of keys because that won't give me an accurate count of the unique months. I can't figure out how to identify if there are any duplicate keys within the dictionary so I decide I'll just convert all my keys to a separate list.

In [8]:
list(budget_dict.keys())

['Jan-2010',
 'Feb-2010',
 'Mar-2010',
 'Apr-2010',
 'May-2010',
 'Jun-2010',
 'Jul-2010',
 'Aug-2010',
 'Sep-2010',
 'Oct-2010',
 'Nov-2010',
 'Dec-2010',
 'Jan-2011',
 'Feb-2011',
 'Mar-2011',
 'Apr-2011',
 'May-2011',
 'Jun-2011',
 'Jul-2011',
 'Aug-2011',
 'Sep-2011',
 'Oct-2011',
 'Nov-2011',
 'Dec-2011',
 'Jan-2012',
 'Feb-2012',
 'Mar-2012',
 'Apr-2012',
 'May-2012',
 'Jun-2012',
 'Jul-2012',
 'Aug-2012',
 'Sep-2012',
 'Oct-2012',
 'Nov-2012',
 'Dec-2012',
 'Jan-2013',
 'Feb-2013',
 'Mar-2013',
 'Apr-2013',
 'May-2013',
 'Jun-2013',
 'Jul-2013',
 'Aug-2013',
 'Sep-2013',
 'Oct-2013',
 'Nov-2013',
 'Dec-2013',
 'Jan-2014',
 'Feb-2014',
 'Mar-2014',
 'Apr-2014',
 'May-2014',
 'Jun-2014',
 'Jul-2014',
 'Aug-2014',
 'Sep-2014',
 'Oct-2014',
 'Nov-2014',
 'Dec-2014',
 'Jan-2015',
 'Feb-2015',
 'Mar-2015',
 'Apr-2015',
 'May-2015',
 'Jun-2015',
 'Jul-2015',
 'Aug-2015',
 'Sep-2015',
 'Oct-2015',
 'Nov-2015',
 'Dec-2015',
 'Jan-2016',
 'Feb-2016',
 'Mar-2016',
 'Apr-2016',
 'May-2016',
 'Jun-2016',
 'Jul-2016',
 'Aug-2016',
 'Sep-2016',
 'Oct-2016',
 'Nov-2016',
 'Dec-2016',
 'Jan-2017',
 'Feb-2017']

#### To define my list on months:

In [4]:
months = list(budget_dict.keys())

#### Now to check if all values are unique, I look up a function to check for duplicates:

In [6]:
def checkdupes(data_row):
    for row in data_row:
        if data_row.count(row) > 1:
            return True
    return False

In [7]:
checkdupes(months)

False

#### Now that I know all the entries in my months list are unique values I'm ok with just straight printing the number of entries in this list, because I know the number of entries equals the number of months. Use the len function:

In [11]:
print(len(months))

86

#### Also, now that I know I don't have to worry about duplicate keys, I could have use the .keys() to count the keys. I'm curious to see if counting the months in my list vs. counting the keys in the dictionary comes up with the same number:

In [15]:
print(len(budget_dict.keys()))

86

#### It does, yay! I realize I can define my "total_months" variable using either the list or the dictionary keys, but I can't think of a reason why one would be better than the other, so I just use the months list.

In [20]:
total_months = len(months)

# Step 4 - find the net total of all profits/losses over the entire period

#### The values in my dictionary are entered as strings, not values, so I'm pretty sure I can't calculate over them right now, but I hope for some magic here so I don't have to go back and command + click everything again:

In [18]:
print(sum(budget_dict.values()))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Yeah, no dice. I still don't really want to command + click and have to go in and change everything manually. Isn't there a find and replace?? I embark on a tortured journey to convert all the values in my dictionary to integers. Maybe this will be easier if I turn the values into a list:

In [19]:
list(budget_dict.values())

['867884',
 '984655',
 '322013',
 '-69417',
 '310503',
 '522857',
 '1033096',
 '604885',
 '-216386',
 '477532',
 '893810',
 '-80353',
 '779806',
 '-335203',
 '697845',
 '793163',
 '485070',
 '584122',
 '62729',
 '668179',
 '899906',
 '834719',
 '132003',
 '309978',
 '-755566',
 '1170593',
 '252788',
 '1151518',
 '817256',
 '570757',
 '506702',
 '-1022534',
 '475062',
 '779976',
 '144175',
 '542494',
 '359333',
 '321469',
 '67780',
 '471435',
 '565603',
 '872480',
 '789480',
 '999942',
 '-1196225',
 '268997',
 '-687986',
 '1150461',
 '682458',
 '617856',
 '824098',
 '581943',
 '132864',
 '448062',
 '689161',
 '800701',
 '1166643',
 '947333',
 '578668',
 '988505',
 '1139715',
 '1029471',
 '687533',
 '-524626',
 '158620',
 '87795',
 '423389',
 '840723',
 '568529',
 '332067',
 '989499',
 '778237',
 '650000',
 '-1100387',
 '-174946',
 '757143',
 '445709',
 '712961',
 '-1163797',
 '569899',
 '768450',
 '102685',
 '795914',
 '60988',
 '138230',
 '671099']

#### Defining my list of profit/loss values:

In [21]:
pl_values = list(budget_dict.values())

#### But I still need to convert these to integers. I trial and error all sorts of for loops and finally find this loop that works:

In [25]:
pl_values = [int(pl) for pl in pl_values]

In [26]:
pl_values

[867884,
 984655,
 322013,
 -69417,
 310503,
 522857,
 1033096,
 604885,
 -216386,
 477532,
 893810,
 -80353,
 779806,
 -335203,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 -755566,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 -1022534,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 -1196225,
 268997,
 -687986,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 -524626,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 -1100387,
 -174946,
 757143,
 445709,
 712961,
 -1163797,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230,
 671099]

#### That's all fine to have a new list with the values as integers, but how do I get this back into my dictionary?? In case I need to match up the values with the months down the line? I try a bunch of different things to overwrite my original dictionary with my new values list but they don't work. I finally find this method for creating a new dictionary using the old dictionary, but just converting the current value to an integer data type. So it turns out I didn't need my list for this but whatever, it might still be useful.

#### I make my new budget dictionary with the values listed as integers:

In [33]:
keys_values = budget_dict.items()

In [34]:
new_budget_dict = {str(key):int(value) for key,value in keys_values}

In [35]:
new_budget_dict

{'Jan-2010': 867884,
 'Feb-2010': 984655,
 'Mar-2010': 322013,
 'Apr-2010': -69417,
 'May-2010': 310503,
 'Jun-2010': 522857,
 'Jul-2010': 1033096,
 'Aug-2010': 604885,
 'Sep-2010': -216386,
 'Oct-2010': 477532,
 'Nov-2010': 893810,
 'Dec-2010': -80353,
 'Jan-2011': 779806,
 'Feb-2011': -335203,
 'Mar-2011': 697845,
 'Apr-2011': 793163,
 'May-2011': 485070,
 'Jun-2011': 584122,
 'Jul-2011': 62729,
 'Aug-2011': 668179,
 'Sep-2011': 899906,
 'Oct-2011': 834719,
 'Nov-2011': 132003,
 'Dec-2011': 309978,
 'Jan-2012': -755566,
 'Feb-2012': 1170593,
 'Mar-2012': 252788,
 'Apr-2012': 1151518,
 'May-2012': 817256,
 'Jun-2012': 570757,
 'Jul-2012': 506702,
 'Aug-2012': -1022534,
 'Sep-2012': 475062,
 'Oct-2012': 779976,
 'Nov-2012': 144175,
 'Dec-2012': 542494,
 'Jan-2013': 359333,
 'Feb-2013': 321469,
 'Mar-2013': 67780,
 'Apr-2013': 471435,
 'May-2013': 565603,
 'Jun-2013': 872480,
 'Jul-2013': 789480,
 'Aug-2013': 999942,
 'Sep-2013': -1196225,
 'Oct-2013': 268997,
 'Nov-2013': -687986,
 'Dec-2013': 1150461,
 'Jan-2014': 682458,
 'Feb-2014': 617856,
 'Mar-2014': 824098,
 'Apr-2014': 581943,
 'May-2014': 132864,
 'Jun-2014': 448062,
 'Jul-2014': 689161,
 'Aug-2014': 800701,
 'Sep-2014': 1166643,
 'Oct-2014': 947333,
 'Nov-2014': 578668,
 'Dec-2014': 988505,
 'Jan-2015': 1139715,
 'Feb-2015': 1029471,
 'Mar-2015': 687533,
 'Apr-2015': -524626,
 'May-2015': 158620,
 'Jun-2015': 87795,
 'Jul-2015': 423389,
 'Aug-2015': 840723,
 'Sep-2015': 568529,
 'Oct-2015': 332067,
 'Nov-2015': 989499,
 'Dec-2015': 778237,
 'Jan-2016': 650000,
 'Feb-2016': -1100387,
 'Mar-2016': -174946,
 'Apr-2016': 757143,
 'May-2016': 445709,
 'Jun-2016': 712961,
 'Jul-2016': -1163797,
 'Aug-2016': 569899,
 'Sep-2016': 768450,
 'Oct-2016': 102685,
 'Nov-2016': 795914,
 'Dec-2016': 60988,
 'Jan-2017': 138230,
 'Feb-2017': 671099}

#### After all that I just need a sum of all the values, so I can use the list after all:

In [36]:
sum(pl_values)

38382578

#### Now that I'm writing this out, I'm curious if my original attempt to sum the values would have worked with this new dictionary:

In [106]:
print(sum(new_budget_dict.values()))

38382578

#### It does, the sums are the same! 

#### I define my total now so I can print it (I also realize I should start gathering these variables in a print function and start collecting that in a separate row). To define the variable for total I just use the sum of the list:

In [37]:
total = sum(pl_values)

# Step 5 - find the average of the changes in profit/loss over the entire period

#### I know that the manual way to do this calculation would be to find the difference between the 1st month's value from the second month's value, and then between the 2nd and 3rd month, and so on to the end of the list. Then if I find the average of those new values (add all those values together and divide by the total number of values) I'll get the average amount of change in profit/loss over this time period. But how to do it? 

#### This seems like there should be an easy function already set up to do this, so I mess around on the internet for a while and can't find anything satisfactory - it seems really hard to make this happen while the data is still in the dictionary, but I also can't really find anything good even if I use the data in its extracted form in the pl_values list. 

#### I decide I should probably work on the basics anyway and figure it out using a for loop. I find a method of creating a list that shows the change between values in a list, and apply it to the pl_values list that I've already created:

In [43]:
pl_change = [pl_values[pl + 1] - pl_values[pl] for pl in range(len(pl_values)-1)]

#### It looks like what it does is define a new list that... actually I don't really know what it's doing. I test it out though and it works:

In [44]:
pl_change

[116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

#### Now that I'm narrating this I'm more curious about how that code accomplished that list, so will try to break it out.

#### Working with: pl_change = [pl_values[pl + 1] - pl_values[pl] for pl in range(len(pl_values)-1)]

In [110]:
pl_change_pt1 = [pl_values[pl] for pl in range(len(pl_values)-1)]

In [111]:
pl_change_pt1

[867884,
 984655,
 322013,
 -69417,
 310503,
 522857,
 1033096,
 604885,
 -216386,
 477532,
 893810,
 -80353,
 779806,
 -335203,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 -755566,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 -1022534,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 -1196225,
 268997,
 -687986,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 -524626,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 -1100387,
 -174946,
 757143,
 445709,
 712961,
 -1163797,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230]

#### Working with: pl_change = [pl_values[pl + 1] - pl_values[pl] for pl in range(len(pl_values)-1)] 

#### So this means if I if break out the [pl_values[pl] for pl in range(len(pl_values)-1)] part of this, that just gives me the pl_values list, minus the last value in that list  (671099). What the heck?

In [115]:
print(len(pl_values)-1)

85

#### That last part just gives the number of rows minus 1. I'm having trouble with why this all works because I can't figure out what is being subtracted and what goes in the for loop and why.

#### Working with: pl_change = [pl_values[pl + 1] - pl_values[pl] for pl in range(len(pl_values)-1)] 

#### It looks like it's saying: (the value of pl_value[index number +1] minus the value at the pl_values[index number just before it])... this first clause is essentially the clause that gives us the change value... is going to be substituted into the list in the range for the pl_values list. That makes sense to me but I'm not sure why the range is defined by using len(pl_value)-1. 

#### I table this for now because I've verified that it works by spot-checking it manually.

#### Back to the original problem: how to solve for the average change. At this point I have my good list of changes so I just need to take the average.

In [122]:
avg_change_firsttry = sum(pl_change)/len(pl_change)

In [123]:
avg_change_firsttry

-2315.1176470588234

#### I realize I want to cut the decimals off so I add a round function, and define the variable with the rounding included:

In [49]:
avg_change = round(sum(pl_change)/len(pl_change), 2)

In [50]:
avg_change

-2315.12

# Step 6 - Print the date and amount of the greatest increase in profits, and decrease in losses, over the entire period

#### I realize that finding the amount for greatest increase is just about using my pl_change this to find the greatest positive change (maximum value in pl_change list)

In [54]:
max(pl_change)

1926159

#### I want to set this as a variable to use later in the print function:

In [58]:
greatest_increase = max(pl_change)

#### Then finding greatest decrease is finding minimum value in pl_change list

In [59]:
min(pl_change)

-2196167

#### Setting the greatest decrease as a variable for the print function:

In [60]:
greatest_decrease = min(pl_change)

#### Now I realize it's trickier than I thought because I need to match up the greatest increase and decrease to the months that they occurred. I start messing around with the index positions. I want to figure out how to identify the index position of the greatest increase first in my pl_change list:

In [68]:
index_greatest_increase = pl_change.index(greatest_increase)
print(index_greatest_increase)

24

#### But since 24 is still the index position in the pl_change list, I need to figure out if the greatest increase is actually lining up with the values in the dictionary:

In [73]:
print(months[index_greatest_increase])

Jan-2012

In [105]:
print(pl_values[index_greatest_increase])

-755566

#### This looks weird so I want to visually compare this Jan-2012 result to my budget dictionary:

In [76]:
new_budget_dict

{'Jan-2010': 867884,
 'Feb-2010': 984655,
 'Mar-2010': 322013,
 'Apr-2010': -69417,
 'May-2010': 310503,
 'Jun-2010': 522857,
 'Jul-2010': 1033096,
 'Aug-2010': 604885,
 'Sep-2010': -216386,
 'Oct-2010': 477532,
 'Nov-2010': 893810,
 'Dec-2010': -80353,
 'Jan-2011': 779806,
 'Feb-2011': -335203,
 'Mar-2011': 697845,
 'Apr-2011': 793163,
 'May-2011': 485070,
 'Jun-2011': 584122,
 'Jul-2011': 62729,
 'Aug-2011': 668179,
 'Sep-2011': 899906,
 'Oct-2011': 834719,
 'Nov-2011': 132003,
 'Dec-2011': 309978,
 'Jan-2012': -755566,
 'Feb-2012': 1170593,
 'Mar-2012': 252788,
 'Apr-2012': 1151518,
 'May-2012': 817256,
 'Jun-2012': 570757,
 'Jul-2012': 506702,
 'Aug-2012': -1022534,
 'Sep-2012': 475062,
 'Oct-2012': 779976,
 'Nov-2012': 144175,
 'Dec-2012': 542494,
 'Jan-2013': 359333,
 'Feb-2013': 321469,
 'Mar-2013': 67780,
 'Apr-2013': 471435,
 'May-2013': 565603,
 'Jun-2013': 872480,
 'Jul-2013': 789480,
 'Aug-2013': 999942,
 'Sep-2013': -1196225,
 'Oct-2013': 268997,
 'Nov-2013': -687986,
 'Dec-2013': 1150461,
 'Jan-2014': 682458,
 'Feb-2014': 617856,
 'Mar-2014': 824098,
 'Apr-2014': 581943,
 'May-2014': 132864,
 'Jun-2014': 448062,
 'Jul-2014': 689161,
 'Aug-2014': 800701,
 'Sep-2014': 1166643,
 'Oct-2014': 947333,
 'Nov-2014': 578668,
 'Dec-2014': 988505,
 'Jan-2015': 1139715,
 'Feb-2015': 1029471,
 'Mar-2015': 687533,
 'Apr-2015': -524626,
 'May-2015': 158620,
 'Jun-2015': 87795,
 'Jul-2015': 423389,
 'Aug-2015': 840723,
 'Sep-2015': 568529,
 'Oct-2015': 332067,
 'Nov-2015': 989499,
 'Dec-2015': 778237,
 'Jan-2016': 650000,
 'Feb-2016': -1100387,
 'Mar-2016': -174946,
 'Apr-2016': 757143,
 'May-2016': 445709,
 'Jun-2016': 712961,
 'Jul-2016': -1163797,
 'Aug-2016': 569899,
 'Sep-2016': 768450,
 'Oct-2016': 102685,
 'Nov-2016': 795914,
 'Dec-2016': 60988,
 'Jan-2017': 138230,
 'Feb-2017': 671099}

#### It looks like the index position from the pl_change list is showing the month before the month that shows the greatest increase in the budget dictionary, so need to add 1 to the pl_change index number to return the correct index number in the dictionary

In [78]:
print(months[index_greatest_increase+1])

Feb-2012

In [79]:
month_greatest_increase = months[index_greatest_increase+1]

In [80]:
month_greatest_increase

'Feb-2012'

#### I want to do the same thing now for finding the month of the greatest decrease

In [82]:
index_greatest_decrease = pl_change.index(greatest_decrease)
print(index_greatest_decrease)

43

In [83]:
print(months[index_greatest_decrease+1])

Sep-2013

In [84]:
month_greatest_decrease = months[index_greatest_decrease+1]

In [85]:
month_greatest_decrease

'Sep-2013'

# Step 7 - PRINTING THE OUTPUT!

#### this is just because I struggled with the f'string and at one point I wanted to figure out a way to break the lines in the f string:

In [40]:
new_line = '\n'

#### The final print out:

In [124]:
print(f"Financial Analysis")
print(f"--------------------------------{new_line}")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average Change: ${avg_change}")
print(f"Greatest Increase in Profits: {month_greatest_increase} (${greatest_increase})")
print(f"Greatest Decrease in Profits: {month_greatest_decrease} (${greatest_decrease})")

Financial Analysis
--------------------------------

Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

# Step 8 - Clean Script

In [125]:
new_budget_dict

{'Jan-2010': 867884,
 'Feb-2010': 984655,
 'Mar-2010': 322013,
 'Apr-2010': -69417,
 'May-2010': 310503,
 'Jun-2010': 522857,
 'Jul-2010': 1033096,
 'Aug-2010': 604885,
 'Sep-2010': -216386,
 'Oct-2010': 477532,
 'Nov-2010': 893810,
 'Dec-2010': -80353,
 'Jan-2011': 779806,
 'Feb-2011': -335203,
 'Mar-2011': 697845,
 'Apr-2011': 793163,
 'May-2011': 485070,
 'Jun-2011': 584122,
 'Jul-2011': 62729,
 'Aug-2011': 668179,
 'Sep-2011': 899906,
 'Oct-2011': 834719,
 'Nov-2011': 132003,
 'Dec-2011': 309978,
 'Jan-2012': -755566,
 'Feb-2012': 1170593,
 'Mar-2012': 252788,
 'Apr-2012': 1151518,
 'May-2012': 817256,
 'Jun-2012': 570757,
 'Jul-2012': 506702,
 'Aug-2012': -1022534,
 'Sep-2012': 475062,
 'Oct-2012': 779976,
 'Nov-2012': 144175,
 'Dec-2012': 542494,
 'Jan-2013': 359333,
 'Feb-2013': 321469,
 'Mar-2013': 67780,
 'Apr-2013': 471435,
 'May-2013': 565603,
 'Jun-2013': 872480,
 'Jul-2013': 789480,
 'Aug-2013': 999942,
 'Sep-2013': -1196225,
 'Oct-2013': 268997,
 'Nov-2013': -687986,
 'Dec-2013': 1150461,
 'Jan-2014': 682458,
 'Feb-2014': 617856,
 'Mar-2014': 824098,
 'Apr-2014': 581943,
 'May-2014': 132864,
 'Jun-2014': 448062,
 'Jul-2014': 689161,
 'Aug-2014': 800701,
 'Sep-2014': 1166643,
 'Oct-2014': 947333,
 'Nov-2014': 578668,
 'Dec-2014': 988505,
 'Jan-2015': 1139715,
 'Feb-2015': 1029471,
 'Mar-2015': 687533,
 'Apr-2015': -524626,
 'May-2015': 158620,
 'Jun-2015': 87795,
 'Jul-2015': 423389,
 'Aug-2015': 840723,
 'Sep-2015': 568529,
 'Oct-2015': 332067,
 'Nov-2015': 989499,
 'Dec-2015': 778237,
 'Jan-2016': 650000,
 'Feb-2016': -1100387,
 'Mar-2016': -174946,
 'Apr-2016': 757143,
 'May-2016': 445709,
 'Jun-2016': 712961,
 'Jul-2016': -1163797,
 'Aug-2016': 569899,
 'Sep-2016': 768450,
 'Oct-2016': 102685,
 'Nov-2016': 795914,
 'Dec-2016': 60988,
 'Jan-2017': 138230,
 'Feb-2017': 671099}

In [126]:
months_clean = list(new_budget_dict.keys())

In [127]:
pl_values_clean = list(new_budget_dict.values())

In [132]:
total_months_clean = len(months_clean)

In [134]:
total_pl_clean = sum(pl_values_clean)

In [137]:
pl_change_clean = [pl_values_clean[pl + 1] - pl_values_clean[pl] for pl in range(len(pl_values_clean)-1)]

In [139]:
avg_change_clean = round(sum(pl_change_clean)/len(pl_change_clean), 2)

In [141]:
greatest_increase_clean = max(pl_change_clean)

In [142]:
greatest_decrease_clean = min(pl_change_clean)

In [143]:
index_greatest_increase_clean = pl_change_clean.index(greatest_increase_clean)

In [144]:
index_greatest_decrease_clean = pl_change_clean.index(greatest_decrease_clean)

In [145]:
month_greatest_increase_clean = months_clean[index_greatest_increase_clean+1]

In [146]:
month_greatest_decrease_clean = months_clean[index_greatest_decrease_clean+1]

In [149]:
print(f"Financial Analysis")
print(f"--------------------------------")
print(f"Total Months: {total_months_clean}")
print(f"Total: ${total_pl_clean}")
print(f"Average Change: ${avg_change_clean}")
print(f"Greatest Increase in Profits: {month_greatest_increase_clean} (${greatest_increase_clean})")
print(f"Greatest Decrease in Profits: {month_greatest_decrease_clean} (${greatest_decrease_clean})")

Financial Analysis
--------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

#### I realize I'm still stuck with the manual step of conforming the data from the csv to the new_budget_dict, and there has to be a way to make that cleaner...